{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}
<h1>Sample Embedded Analytics</h1>

<!-- if the user role is admin, show dashboard for admins -->
{% if role == 'admin' %} 
  <script
  type="text/javascript"
  src="https://public.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js"
  ></script>
  <script type="text/javascript">
  var viz;

  function initViz() {
    var containerDiv = document.getElementById("vizContainer"),
      url =
        "https://public.tableau.com/views/EmbedTest_16606360562240/ProfitDashboardAdmin?:language=en-US&:display_count=n&:origin=viz_share_link",
      options = {
        hideTabs: true,
        onFirstInteraction: function () {
          workbook = viz.getWorkbook();
          activeSheet = workbook.getActiveSheet();
        }
      };

    viz = new tableau.Viz(containerDiv, url, options);
    // Create a viz object and embed it in the container div.
  }
  // Opens the Download dialog box
  function showDownloadDialog() {
    viz.showDownloadDialog();
  }
  </script>

<!-- if the user role is for user, show visualization for user -->
{% elif role == 'user' %} 
  <script
  type="text/javascript"
  src="https://public.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js"
  ></script>
  <script type="text/javascript">
  var viz;

  function initViz() {
    var containerDiv = document.getElementById("vizContainer"),
      url =
        "https://public.tableau.com/views/TableauEmbeddingThroughJavascriptAPIUser/ProfitDashboardUser?:language=en-US&:display_count=n&:origin=viz_share_link",
      options = {
        hideTabs: true,
        onFirstInteraction: function () {
          workbook = viz.getWorkbook();
          activeSheet = workbook.getActiveSheet();
        }
      };

    viz = new tableau.Viz(containerDiv, url, options);
    // Create a viz object and embed it in the container div.
  }
  // Opens the Download dialog box
  function showDownloadDialog() {
    viz.showDownloadDialog();
  }
  </script>

<!-- do not show any visualization at all -->
{% else %} 
<h1>You do not have access to this visualization</h1>
{% endif %}


<script>
  initViz();
</script>

<button onclick="showDownloadDialog();">Export Dashboard</button>

{% endblock %}
